<!DOCTYPE html>
<html>
<head>
    <title>Slim Skeleton</title>
    {% include 'partials/css.twig' %}

    {% block css %} {% endblock %}
</head>
{% block body %} {% endblock %}
</html>
{% include 'partials/script.twig' %}
{% block script %}{% endblock %}